**/tfsec*
**/tfsec/**

*.tfstate
*.tfstate.*
terraform.tfstate.backup

*.tfvars.json

*.tfplan

.terraform/
.terraform.lock.hcl
terraform.tfstate.d/

*.env
.env.*

*.log
.infracost/terraform_modules/manifest.json
.infracost/pricing.gob
